<form class="form" action="/" method="POST">
	
	<div >
		<span><label>Title</label></span><br>
		<input type="text" name="title" placeholder="Enter a Title">
	</div>
	<div >
		<span><label>Ratings</label></span><br>
		<input type="text" name="rating" placeholder="Your Rating out of 10">
	</div>
	<div >
		<span><label>Review</label></span><br>
		<textarea name="review" placeholder="The Review goes here ... " ></textarea>
	</div>
	<div>
		<input type="Submit" value="Save Review">	
	</div>

</form>