<form class="form" action="/" method="POST">
	
	<div >
		<span><label>Title</label></span><br>
		<input type="text" name="title" placeholder="Enter a Title">
	</div>
	<div >
		<span><label>link</label></span><br>
		<input type="text" name="link" placeholder="Your Link here">
	</div>
	<div >
		<span><label>description</label></span><br>
		<textarea name="review" placeholder="Your description goes here ... " ></textarea>
	</div>
	<div>
		<input type="Submit" value="Save Review">	
	</div>

</form>