

<% @posts.each do |post| %>
<div class="col-sm-3 main">
	<div class="mogo">
		
	<img class="pro" src="<%= post.image %>" >
	  <h3><a href="/<%= post.id %>"><%= post.title %></a></h3>
	  <p><%= post.body %></p>

	</div>

</div>
<% end %>
