.big{

	font-size: 50px;
	color: lightblue;
	text-decoration: underline;
}

body {
	background-color: grey;
	padding-left: 200px;
	padding-right: 200px;

}

.other{
	color: white;
}
h1 {
	color: darkblue;
}
h5{
	color: lightblue;
	text-decoration: underline;
}
/*section {
	text-align: left;
}*/
.man{
	
}

