<!DOCTYPE html>
<html>
<head>
  <title>F-Tinder</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"> -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
  <!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
  <link rel="stylesheet" type="text/css" href="./css/main.css">
</head>
<body>
  	<div class="jumbotron jum">
  		<div class="container">
	  		<div class="row">
				<div class="col-sm-12 main">
					<h1><img class="logo" src="https://orig08.deviantart.net/26e4/f/2014/281/5/9/pixel_heart_by_emeraldplaysmcraft-d81zjcr.png">Fake Tinder</h1>
						
				</div>
			</div>
		</div>
	</div>
	<%= erb(:'partials/navigation', :layout => false) %>
   
   <div class="container man">
		<div class="row">
			
			<%= yield %>
					
			
		</div>
	</div>

</body>
</html>